* {
    margin: 0px;
    padding: 0px;
    font-family: 'Zekton', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0)), url("1000_F_559133954_0kKDwhaWzU2ltOH4ylCkP1B4f7N6XkPD.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    word-break: break-word;
}

header {
    background-color: rgba(42, 40, 44, 0.849);
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
p,
h1,
li,div {
    color: rgb(168, 67, 250);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.exibidor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    width: 20em;  
    border: 0.01em solid rgb(123, 6, 218);
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.658);
}

.ilustraProjeto {
    width: 100%;
    border-radius: 15px;
}

.titulo,.descricao{
    margin: 1em;
}

.descricao{
    min-height: 100px;
}

@media(max-width: 900px) {
body{
    background-position-x: -1050px;
    background-repeat: repeat-y;
}

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .exibidor {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .ilustraProjeto {
        display: flex;
        width: 100%;
        border-radius: 15px;
        flex-direction: column;
    }

    .titulo {
        display: flex;
        margin: 1em;
    }

    .descricao {
        margin: 1em;
        flex-wrap: wrap;
        word-break: break-word;
    }
}