*{
    margin:0px;
}

header{
    display: flex;
    color:antiquewhite;
    align-items: center;
    background-color: rgb(67, 55, 55);
    height: 5em;
    width:100%;
    justify-content:space-evenly;
}

header > a{
    padding:20px;
    color:antiquewhite;
}

.main{
    display: grid;
    grid-auto-columns: 10em auto;
}

.menu{
    display: flex;
    flex-direction: column;
    grid-column: 1;
    margin: 1em;
}

.opcoes-roupas > a{
  padding-right: 2em;
}

.produtos{
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80em;
    margin: 0 auto;
}
.descricao{
    height: 5em;
}
.imgprod{
    width: 100%;
    border-radius: 50%;
    margin:1em;
}

#procurar{
    width: 40%;
    height: 2em;
}

.exibidor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 15em;
    background-color: rgb(228, 230, 230);
    border: 1px solid gray;
    border-radius: 10%;
    padding: 1em;
    margin: 1em;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(51, 37, 37);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer > a{
    color:antiquewhite;
    padding: 0.5em;
}

@media (max-width: 500px){

*{
    padding: 0;
    margin: 0;
}

.main{
    width:100%;
    display: flex;
    flex-direction: column;
}

.produtos{
    display: flex;
    width:100%;
    justify-content: center;
}

header{
    width:100%;
    font-size: 3vw;
}

#procurar{
    width: 45vw;
    height: 2em;
}
}