body,h1,h2,ul,li,p,dd,dt,dl{
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

body{
    background: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialised;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px,800px) 1fr;
}

.menu{
    grid-column: 3/5;
    margin-top:2rem;
    margin-bottom: 2rem;
    background: rgb(196, 149, 94);
}

.menu ul{
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li a {
    display:block;
    padding: 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family:'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .1em;
}

.grid-section{
    grid-column: 2/4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}

.titulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-size: 4rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1/4;
}
.sneakers h2{
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #E54;

}

.sneakers h2::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.sneakers-descricao p{
    font-family:Helvetica, Arial;
    line-height: 1.2; 
    margin: 1rem;
}

.sneakers-lista{
    height: 700px;
    width: 400px;
    overflow-y:scroll;
    grid-column: 1;
}

.sneakers-lista::-webkit-scrollbar{
    width: 18px;
}

.sneakers-lista::-webkit-scrollbar-thumb{
    background: #FB5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.sneakers-lista::-webkit-scrollbar-track{
    background: #faf6ed;
}

.sneakers-descricao{
    grid-column: 3;
}

.animais-descricao section{
    margin-bottom: 3rem;
}

.faq-lista{
    grid-column: 2/4;
}

.faq-lista dt{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 5rem;
    color:#E54;
}

.faq-lista dt::before{
    content:'';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.faq-lista dd {
    font-family: Helvetica, Arial;
    margin-left: .5rem;
    margin-right: 30px;
}

.mapa{
    grid-column: 2;
}

.dados{
    grid-column: 3;
}

.dados li{
    margin-bottom: 1rem;
    font-family: Helvetica, Arial;
}

.dados li::before{
    content:'';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.copy{
    grid-column: 2/5;
    margin-bottom: 2rem;
    background: #FB5;
}

.copy p{
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

@media (max-width: 700px){
    body{
        grid-template-columns: 2fr;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .menu, .grid-section, .copy{
        grid-column: 1;
   }

   .titulo h1 {
    width: 50%;
   }

    .grid-section{
        display:flex;
        flex-wrap: wrap;
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }

    .sneakers-lista, .mapa{
        grid-column: 1;
        width: 100%;
    }

    .sneakers-descricao{
        grid-column: 2;
        width: 300px;
    }

    .sneakers-descricao{
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }

    .sneakers-descricao h2{
        font-size: 1rem;
    }

    .sneakers-descricao p {
        font-size: 1rem;
    }

    .faq-lista, .dados, .mapa{
        grid-column: 1/3;
    }

    .grid-section h1{
        font-size: 3rem;
    }

    .menu{
        margin-top: 0px;
    }
    .copy{
        margin-bottom: 0px;
        width: 15rem;
    }
}



